body {
    font-family: Rockwell,sans-serif;
    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0.23, rgba(136,181,136,0.3)),
        color-stop(0.47, rgba(170,192,209,0.3))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(136,181,136,0.3) 23%,
        rgba(170,192,209,0.3) 47%
        );
    height : 540px;
}

#menu {
    position : relative;
    top: 100px;
    left: 300px;
    width : 500px;
}

h1 {
    margin : 3px 0px;
}

.small {
    font-size : 0.7em;
    color : #333;
}

#start,#load {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    text-shadow: 1px 1px 1px #CCCCCC;
    text-decoration: underline blink;
    background-image : url('../img/coin.png');
    background-repeat : no-repeat;
    padding-left : 20px;
    line-height: 0.9em;
    height : 19px;
}

#load {
    top : 65px;
}

#start:hover,#load:hover {
    text-decoration: none;
    color : #003333
}

#info {
    position : absolute;
}

#gamearea {
    position : relative;
    width : 960px;
    height : 540px;
    margin : 0 auto;
}

#hp {
    position : relative;
    left : 40px;
    top : 37px;
    height : 30px;
    color :red;
    font-size : 1.4em;
    width : 200px;
}

.heart {
    position : relative;
}

.emptyHeart {
    color: white;
    font-size: 0.5em;
    left: -10px;
    position: relative;
    top: -4px;
}

#player {
    position : absolute;
    background-image : url('../img/sprites-test.png');
    z-index : 200;
}

#inventory {
    border: thin solid black;
    margin: 50px auto;
    padding: 12px 5px 5px;
    position: relative;
    width: 100px;
    background-color: white;
    line-height : 12px;
    z-index : 1000;
}

.itemEquipable {
    border : thin solid black;
    padding : 3px 0 6px ;
    cursor : pointer;
}

.itemEquiped {
    border : thin solid green;
    padding : 3px 0 6px ;
    cursor : pointer;
}

.itemImage {
    position : relative;
    width : 16px;
    height : 16px;
    float : left;
    margin : 0px 6px;
}

#dialog {
    border: thin solid black;
    margin: 50px auto;
    padding: 5px;
    position: relative;
    width: 100px;
    background-color: white;
    z-index : 1000;
}

.level0 {

}

.level1 {

}

.level2 {

}

.stateless {
    background-position: 0px 0px;
}

.stateless-right-step-1 {
    background-position: 0px 0px;
}

.stateless-right-step-2 {
    background-position: -16px 0px;
}

.stateless-left-step-1 {
    background-position: 0px -26px;
}

.stateless-left-step-2 {
    background-position: -16px -26px;
}

.state-climb-right-step-1,.state-climb-right-step-2,.state-climb-left-step-1,.state-climb-left-step-2 {
    background-position : 0px -52px;
}

.state-hurt-right-step-2 {
    background-position: -32px -0px;
}

.state-hurt-right-step-1 {
    background-position: -48px -0px;
}

.state-hurt-left-step-2 {
    background-position: -32px -26px;
}

.state-hurt-left-step-1 {
    background-position: -48px -26px;
}

.common {
    position : absolute;
}

.hp {
    background-image: url('../img/hp.png');
    height: 5px;
    margin-bottom: -1px;
    margin-left: 20%/*5px*/;
    position: absolute;
    top: -5px;
    width: 60%/*20px*/;
    background-repeat: no-repeat;
    background-size : 100% 100%;
}

.dying {
    -moz-transform : rotate(180deg);
}

.grass {
    background-image : url('../img/grass.png');
}

.grass-wall {
    background-image : url('../img/grass.png');
    background-repeat: repeat-x;
    background-color: #7c5c30;
}

.wall {
    background-image: url('../img/vertical-curl.png');
}

.ceil {
    background-image: url('../img/horizontal-curl.png');
}

.coin {
    background-image : url('../img/coin.png');
}

.ghost[class~="step-0"] {
    background-image : url('../img/ghost-r.png');
}

.ghost[class~="step-1"] {
    background-image : url('../img/ghost-l.png');
}

.ghost_water[class~="step-0"],.ghost_water[class~="step-1"] {
    background-image : url('../img/ghost-water-r.png');
    z-index : 25;
}

.ghost_water[class~="step-2"],.ghost_water[class~="step-3"] {
    background-image : url('../img/ghost-water-l.png');
    z-index : 25;
}

.door {
    background-image : url('../img/door.png');
}

.door[class~="open"] {
    background-image : url('../img/door-open.png');
}

.key1 {
    background-image : url('../img/key.png');
}

.key2 {
    background-image : url('../img/key.png');
}

.ladder {
    background-image : url('../img/ladder.png');
}

.water {
    background-color : rgba(0,0,255,0.8);
    background-image : url('../img/water.png');
}

.lever[class~="on"] {
    background-image : url('../img/lever-on.png');
}

.lever[class~="off"] {
    background-image : url('../img/lever-off.png');
}

.sign {
    background-image : url('../img/sign.png');
}

.hammer {
    background-image : url('../img/hammer.png');
}

.smallBloc {
    background-image : url('../img/1x1.png');
}

.crate {
    background-image : url('../img/crate.png');
}

.boss[class~="step-1"],.boss[class~="step-2"] {
    background-image : url('../img/ghost-l.png');
    background-size : 100% 100%;
}

.boss[class~="step-0"],.boss[class~="step-3"] {
    background-image : url('../img/ghost-r.png');
    background-size : 100% 100%;
}