body {
    font-family: Rockwell;
}

#conf {
    border : thin solid black;
    position : absolute;
    padding : 10px;
    text-align: center;
    line-height : 2em;
}

#add,#show {
    cursor : pointer;
    border : thin solid;
    padding : 0 10px;
    box-shadow : 1px 0px 1px #ccc;
    border-radius : 5px;
}

#add:hover,#show:hover {
    /*box-shadow : none;*/
    box-shadow : 0 -1px 0 rgba(0,0,0,0.2);
}

#game-area {
    position : relative;
    width : 960px;
    height : 540px;
    margin : 0 auto;
    border : thin solid black;
}

.common {
    position : absolute;
    top : 0px;
    left : 0px;
    width : 30px;
    height : 30px;
    cursor : pointer;
}

#form,#blocEditor {
    display : none;
    position: absolute;
    top : 50px;
    left: 50px;
    width : 160px;
    padding : 10px;
    border : thin solid black;
    line-height : 2.5em;
    z-index : 200;
    background-color : white;
}

#remove {
    text-align: center;
}

#remove-text {
    border : thin solid black;
    padding : 0 33px;
    box-shadow : 0px 1px 1px #ccc;
}

#remove-text:hover {
    box-shadow : none;
}

#form > input,#form > select,#blocEditor > input,#blocEditor > select {
    float: right;
    position: relative;
    top: 11px;
}

#info {
    position: relative;
    width: 167px;
    height : 170px;
    padding : 5px;
    margin-bottom: 10px;
}

#info > div {
    float: right;
}

#button {
    margin-left: 55px;
    top : -13px;
    position : relative;
}

#ok,#cancel,#bok,#bcancel {
    position : relative;
    padding : 5px;
    padding-top : 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius : 5px;
    box-shadow: 0 1px 1px #CCCCCC;
}

#ok:hover,#cancel:hover,#bok:hover,#bcancel:hover {
    box-shadow : none;
}

#ok,#bok  {
    border : thin solid #0F0;
    margin-right : 20px;
}

#cancel,#bcancel {
    border : thin solid #F00;
}

.common {
    position : absolute;
}

.grass {
    background-image : url('../img/grass.png');
}

.grass-wall {
    background-image : url('../img/grass.png');
    background-repeat: repeat-x;
    background-color: #7c5c30;
}

.wall {
    background-image: url('../img/vertical-curl.png');
}

.ceil {
    background-image: url('../img/horizontal-curl.png');
}

.coin {
    background-image : url('../img/coin.png');
}

.ghost_static {
    background-image : url('../img/ghost-r.png');
}

.ghost[class~="step-0"] {
    background-image : url('../img/ghost-r.png');
}

.ghost[class~="step-1"] {
    background-image : url('../img/ghost-l.png');
}

.door {
    background-image : url('../img/door.png');
}

.door[class~="open"] {
    background-image : url('../img/door-open.png');
}

.key1 {
    background-image : url('../img/key.png');
}

.key2 {
    background-image : url('../img/key.png');
}

.ladder {
    background-image : url('../img/ladder.png');
}

.water {
    background-color : blue;
}

.lever[class~="on"] {
    border : thin solid black;
    background-color : white;
}

.lever[class~="off"] {
    background-color : black;
    border : none;
}

.sign {
    background-image : url('../img/sign.png');
}

.hammer {
    background-image : url('../img/hammer.png');
}

.smallBloc {
    background-image : url('../img/1x1.png');
}

.crate {
    background-image : url('../img/crate.png');
}

.boss[class~="step-1"],.boss[class~="step-2"] {
    background-image : url('../img/ghost-l.png');
    background-size : 100% 100%;
}

.boss[class~="step-0"],.boss[class~="step-3"] {
    background-image : url('../img/ghost-r.png');
    background-size : 100% 100%;
}