#menu {
    cursor: pointer;
    font-family: Rockwell,sans-serif;
    font-weight: bold;
    left: 100px;
    position: absolute;
    text-shadow: 1px 1px 1px #CCCCCC;
    top: 100px;
    text-decoration: underline;
}

#menu:hover {
    text-decoration: none;
    color : #003333
}

#info {
    position : absolute;
}

#gamearea {
    position : relative;
    width : 960px;
    height : 540px;
    margin : 0 auto;
    border : thin solid black;
}

#player {
    position : absolute;
    background-image : url('../img/sprites-test.png');
}

#inventory {
    border: thin solid black;
    margin: 50px auto;
    padding: 5px;
    position: relative;
    width: 100px;
}

.itemImage {
    position : relative;
    width : 16px;
    height : 16px;
}

#dialog {
    border: thin solid black;
    margin: 50px auto;
    padding: 5px;
    position: relative;
    width: 100px;
}

.stateless {
    background-position: 0px 0px;
}

.stateless-right-step-1 {
    background-position: 0px 0px;
}

.stateless-right-step-2 {
    background-position: -16px 0px;
}

.stateless-left-step-1 {
    background-position: 0px -26px;
}

.stateless-left-step-2 {
    background-position: -16px -26px;
}

.climb {
    background-position : 0px -52px;
}

.hurt {
    background-position: -16px -52px;
}

.common {
    position : absolute;
}

.grass {
    background-image : url('../img/grass.png');
}

.grass-wall {
    background-image : url('../img/grass.png');
    background-repeat: repeat-x;
    background-color: #7c5c30;
}

.wall {
    background-image: url('../img/vertical-curl.png');
}

.ceil {
    background-image: url('../img/horizontal-curl.png');
}

.foo {
    border : 3px solid green;
}

.coin {
    background-image : url('../img/coin.png');
}

.ghost_static {
    background-image : url('../img/ghost-r.png');
}

.ghost[class~="step-0"] {
    background-image : url('../img/ghost-r.png');
}

.ghost[class~="step-1"] {
    background-image : url('../img/ghost-l.png');
}

.door {
    background-image : url('../img/door.png');
}

.door[class~="open"] {
    background-image : url('../img/door-open.png');
}

.key1 {
    background-image : url('../img/key.png');
}

.key2 {
    background-image : url('../img/key.png');
}

.ladder {
    background-image : url('../img/ladder.png');
}

.water {
    background-color : blue;
}

.lever[class~="on"] {
    border : thin solid black;
    background-color : white;
}

.lever[class~="off"] {
    background-color : black;
    border : none;
}

.text {
    background-color : green;
}